<!doctype html>

<html>

<!-- 	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='hash_style.css') }}"> -->

   	<body background="{{url_for('static', filename='connect.png')}}">

   		<div class="hasher">

	   	<h2>Hey hey heeeeey</h2>
		<h3>Martin's here</h3>
		
		This app's gonna show you how much money you can lose with the <a href="https://en.wikipedia.org/wiki/Martingale_(betting_system)">martingale strategy</a>. <br>
		Each round is a coinflip - double or nothing. You can set your starting money, the number of rounds and the number of games you want to simulate. <br>
		After hitting "Play!", a graph will appear showing the result of the game. You can go into negative with your money just to illustrate how much you can lose.

		<br><br>
		<form class="game_form" action="{{ url_for('play') }}" method="POST">

		 	Starting chips: <br>
		 	<input type="radio" id="start100" name="startingChips" value="100" checked="checked"> <label for="100">100</label>
			<input type="radio" id="start500" name="startingChips" value="500"> <label for="500">500</label>
			<input type="radio" id="start1000" name="startingChips" value="1000"> <label for="1000">1000</label>

			<br>
			Number of rounds: <br>
			<input type="radio" id="rounds10" name="rounds" value="10"> <label for="10">10</label>
			<input type="radio" id="rounds20" name="rounds" value="20"> <label for="20">20</label>
			<input type="radio" id="rounds50" name="rounds" value="50"> <label for="50">50</label>
		 	<input type="radio" id="rounds100" name="rounds" value="100" checked="checked"> <label for="100">100</label>
		 	<input type="radio" id="rounds200" name="rounds" value="200"> <label for="200">200</label>
		 	<input type="radio" id="rounds500" name="rounds" value="500"> <label for="500">500</label>
			<input type="radio" id="rounds1000" name="rounds" value="1000"> <label for="1000">1000</label>
			<input type="radio" id="rounds10000" name="rounds" value="10000"> <label for="1000">10000</label>
			<br>
			Number of games: <br>
			<input type="radio" id="games1" name="games" value="1" <label for="1">1</label>
			<input type="radio" id="games2" name="games" value="2"> <label for="2">2</label>
			<input type="radio" id="games3" name="games" value="3" checked="checked"> <label for="3">3</label>
			<input type="radio" id="games5" name="games" value="5"> <label for="5">5</label>
			<input type="radio" id="games10" name="games" value="10"> <label for="10">10</label>
			<input type="radio" id="games10" name="games" value="10"> <label for="20">20</label>
			<input type="radio" id="games50" name="games" value="50"> <label for="50">50</label>
		 	<br><br>
		 	<input type="submit" value="Play!">
		</form> 



		<img src="data:image/png;base64, {{ plot_url }}" alt="Graph will be here">

		</div>
      
   	</body>
	
</html>